<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>QUIZ</title>
    <style media="screen">
      header{
        text-align: center;
        padding: 8%;
      }
      footer{
        text-align: center;
        padding: 5%;
      }
      .button{
        font-size: 20px;
        border-radius: 10px;
      }
      .regBody{
        text-align: center;
        padding: 2%;
      }
      #quiz{
        text-align: center;
      }
    </style>
  </head>

  <body class="regBody">
    <header>
      <h1>WELCOME TO THE QUIZ</h1>
    </header>
    <footer>
      <h1><a href="\index2">Click here to enter the quiz.</a></h1>
    </footer>

  </body>
</html>
